.login {
    border: 2px solid black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 20%;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

img {
    width: 150%;
    height: 2%;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
}

input {
    width: 80%;
    height: 30px;
    margin: 20px;
    border-radius: 8px;
}

#login-btn {
    background-color: rgb(246, 218, 149);
    width: 80%;
}

#number {
    margin-top: 0%;
}

form {
    margin: auto;
}